.adTable {
    width: 80%;
    border-collapse: collapse;
}

.adRow {
    border: 3px solid grey;
}

.adTable tr:hover{
    background-color: #06f;
}

.adTable img {
    width: calc(100% - 24px);
    height: auto;
    padding-left: 12px;
    padding-right: 12px;
}

td.adCol1 h3{
	margin-bottom: 2px;
}

td.adCol1, td.adCol2,td.adCol3,td.adCol4 {
    padding-top: 10px;
    padding-bottom: 4px;
    width: 25%;
    border-bottom: 3px solid #0068ff;
}

td.adCol2 p{
	
	text-align:left;
	margin: 2px;	
}

.adCol3,.adCol4 {
    vertical-align: top;
}

/*This needs help*/
table.equipTable{
    border: 3px solid;
	overflow:scroll;
	width: 100%;
	height: inherit;

}