@charset "utf-8";
.filter {
	text-align:center;
	padding:10px;
	background-color: rgb(0,204,255);
	font-family:Acme;
	color:#FFF;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width:80%;
}

.dropdownHeader
{
	margin: 2px;
	font-size: 16px;
	cursor:pointer;
}

.column
{
	display:inline-block;
	vertical-align:top;
	margin: 5px;
	text-align:left;
}

.dropdown
{
	display:none;
}

.applyButton
{
	vertical-align:middle;
}

.intButton {
	margin: 5px;
	font-family:Acme;
	color:#FFF;
	background:#0CF;
	border:outset;
	border-color:#FFF;
}

.notIntButton {

	margin: 5px;
	font-family:Acme;
	color:#FFF;
	background:rgb(0,255,51);
	border:inset;
	border-color:#FFF;

}