@charset "utf-8";
/* CSS Document */

#HeaderTitle {
	text-decoration:none;
	margin:0px;
	text-align:center;
	font-size:80px;
	color:#FFF;
	font-family: 'Acme', sans-serif;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;	
}

#HeaderTitle a{
	color:#FFF;
	text-decoration:none;
}

#HeaderTitle a:hover{
	color:#FFF;
	text-decoration:none;
}

#HeaderTitle a:visited{
	color:#FFF;
	text-decoration:none;
}

#menu {
	width:100%;
	height: 35px;
	margin-top:15px;
	font-family:'Acme', sans-serif;
	font-size:16px;
	background:#0CF;
	text-align:center;
}

#menu ul
{
	height:auto;
	padding:8px, 0px;
	margin: 0px;
}

#menu li
{
	padding-top:8px;
	display:inline-block;
	padding-right:24px;
	font-weight:bold;
}

#menu a {
	text-decoration: none;
	color: #FFF;
	padding: 8px 8px 8px 8px;
}

#menu a:hover {
	text-decoration: none;
	color: #06F;
	padding: 8px 8px 8px 8px;
	background-color:#0FC;	
}

#body {
	background:#80FFFF;
}