@charset "utf-8";
/* CSS Document */

.modal {
	margin-top: 0;
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 15%;
	top: 0px;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color:rgba(255, 255, 255, 0.5);
}

.modalContent {
	position: relative;
	text-align:center;
	background-color: #F60;
	background: -webkit-linear-gradient(blue, cyan);
	background: -o-linear-gradient(blue, cyan);
	background: -moz-linear-gradient(blue, cyan);
	background: linear-gradient(blue, cyan);
	margin: auto;
	border: 1px solid #888;
	width: -webkit-fit-content;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
	from{top: -300px; opacity: 0}
	to{top:0; opacity: 1}
}

@keyframes animatetop {
	from{top: -300px; opacity: 0}
	to{top: 0; opacity: 1}	
}

.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;	
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	color: white;
}

.modalHeader {
	padding: 2px 16px;
	color: white;	
}

.modalBody {
	padding: 2px 16px;
	color: white;
}