@charset "utf-8";

th{
	font-size: 26px;
}

button {
	margin: 5px;
	font-family:Acme;
	color:#FFF;
	background:#0CF;
	border:outset;
	border-color:#FFF;
}

button:disabled {

	margin: 5px;
	font-family:Acme;
	color:#FFF;
	background:rgb(45,177,210);
	border:inset;
	border-color:#FFF;

}