/* CSS Document */

#content{
	background:#09F;
	padding: 10px;
	margin-top: 10px;
	color:#FFF;
	text-align:center;
	font-family: 'Acme', sans-serif;

}

#content h2{
	font-size:36px;
}

#content h3{
	font-size:24px;
}

#content table
{
	text-align:center;
	color:#FFF;
	border-color:#FFF;
	margin:auto;
}

#content th {
	color:#FFF;
	border-color:#FFF;
	border-spacing: 3px;
}