/* CSS Document */

.petinfo {
	text-align:left;

}

.petinfo h3{
	margin:5px;
	display:inline-block;
	text-align:left;
}

.petinfo p{
	margin: 5px;
	display:inline-block;
	text-align:right;
	float:right;
	padding-top: 10px;
	padding-right: 10px;
}

.petinfo hr
{
	margin: 2px;
}

.petinfo table{
	text-align:left;
	padding: 5px;
	
}

button {
	margin: 5px;
	font-family:Acme;
	color:#FFF;
	background:#0CF;
	border:outset;
	border-color:#FFF;
}
input {
	margin: 5px;
	font-family:Acme;
	color:#FFF;
	background:#0CF;
	border:outset;
	border-color:#FFF;
}
