#inputform{
	color:#FFF;
	text-align:center;
}

#inputform table{
	margin:0px;
	display:inline-block;
	text-align:center;
}

#inputform td{
	color:#FFF;
	text-align:right;
}

#inputform tr{
	margin:5px;
	text-align:center;
}

#inputform td.checkbox {
	text-align:left;
}

input {
	float:left;
}
