#content{
	background:#09F;
	padding: 10px;
	margin-top: 10px;
	color:#FFF;
	text-align:center;
	font-family: 'Acme', sans-serif;

}

#content img{
	padding-right: 5px;
}

#content h2{
	font-size:36px;
}

#content h3{
	font-size:24px;
}

#inputform{
	color:#FFF;
	text-align:center;
}

#inputform table{
	margin:0px;
	display:inline-block;
	text-align:center;
}

#inputform td{
	color:#FFF;
	text-align:right;
}

#inputform tr{
	margin:5px;
	text-align:center;
}

#inputform td.checkbox {
	text-align:left;
}
